.venv/
__pycache__/
*.py[cod]
*.pyd
*.so

.Python
build/
dist/
site/
eggs/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/

.ipynb_checkpoints/
.venv.bak/
venv/
env/
ENV/

.python-version
.asset-work/
.devcontainer/
